fastapi
uvicorn[standard]
python-dotenv
sqlalchemy
asyncpg
psycopg2-binary
geoalchemy2
httpx
pydantic
playwright
beautifulsoup4
praw
groq
upstash-redis
redis
pytest
google-play-scraper
lxml
youtube-search
youtube-comment-downloader