@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet maps require a explicit container size to render properly */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}